html {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
	width: 40%;
	margin: auto;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	width: max(25%, 400px);
	margin: auto;
}

label {
	margin: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.3125rem;
}
fieldset {
	display: flex;
	flex-direction: column;
}

input[type='submit'] {
	align-self: center;
}
h1 {
	text-align: center;
}
.home {
	text-align: center;
	margin: auto;
	display: block;
}
